backend:
  name: git-gateway
  branch: master # Branch to update (master by default). It will use the publish command to push to this branch
  squash_merges: true

display_url: https://www.sheldonhull.com
media_folder: "assets/img" # Folder where user uploaded files should go
logo_url: https://d33wubrfki0l68.cloudfront.net/21446a9fe6768fbc72d304626343179b74759ac8/95052/assets/img/sheldon_400x400.jpg

publish_mode: editorial_workflow
collections: # A list of collections the CMS should be able to edit
  - name: "post" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Post" # Used in the UI, ie.: "New Post"
    folder: "_posts" # The path to the folder where the documents are stored
    format: yaml-frontmatter
    extension: md
    sort: "date:desc" # Default is title:asc
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields: # The fields each document in this collection have
      - {label: "Excerpt", name: "excerpt", widget: "string", required: true}
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - label: 'Cover Image'
        name: 'image'
        widget: 'image'
        required: false
        tagname: ''
      - {label: "Title", name: "title", widget: "string", tagname: "h1", required: true}
      - {label: "Body", name: "body", widget: "markdown", required: true}
      - {label: "toc", name: "toc", widget: "boolean", default: true}
      - label: "Tags"
        name: "tags"
        widget: "select"
        default: "tech"
        options: ["development","sql-server","tech","ramblings",powershell,"cool-tools","performance-tuning","deep-dive","AWS","devops","redgate","tfs","photography","music","follower-of-Jesus","worship","videography"]
        multiple: true
        required: true
      - {label: "typora-root-url", name: "typora-root-url", widget: "hidden", text: "..\\assets\\img"}
      - {label: "typora-copy-images-to", name: "typora-copy-images-to", widget: "hidden", text: "..\\assets\\img"}
      - {label: "Last Modified Date", name: "last_modified_at", widget: "datetime", default: "",format: "YYYY-MM-DD hh:mm:ss"}
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss",required: false}
     # - {label: "Published", name: "published", widget: "boolean", default: false}
    meta: # Meta data fields. Just like fields, but without any preview element
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss",required: false}
      - {label: "Last Modified Date", name: "last_modified_at", widget: "datetime", default: "", format: "YYYY-MM-DD hh:mm:ss"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "blog"}

  - name: "portfolio" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Portfolio" # Used in the UI, ie.: "New Post"
    folder: "_portfolio" # The path to the folder where the documents are stored
    format: yaml-frontmatter
    extension: md
    sort: "date:desc" # Default is title:asc
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}"
    fields: # The fields each document in this collection have
      - {label: "Layout", name: "layout", widget: "hidden", default: "single"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1", required: true}
      - {label: "Body", name: "body", widget: "markdown", required: true}
      - {label: "Excerpt", name: "excerpt", widget: "string", required: true}
      - {label: "toc", name: "toc", widget: "boolean", default: true}
     # - {label: "Published", name: "published", widget: "boolean", default: false}
    meta: # Meta data fields. Just like fields, but without any preview element
      - {label: "Publish Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}
      - {label: "Last Modified Date", name: "last_modified_at", widget: "datetime", format: "YYYY-MM-DD hh:mm:ss"}